.rent-title {
    font-size: xx-large;
}

.main-overall-box {
    position: absolute;
    width: 50%;
    top: 10%;
    left: 25%;
    border-radius: 20px;
    background-color: white;
    padding: 1em 3em;
    z-index: 1;
    box-shadow: 30px 30px 25px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.receipt-header {
    text-align: left;
    color: #FFB441;
}

.receipt-content {
    border-radius: 18px;
    text-align: left;
    padding: 4%;
    background-color: lightgrey;
    z-index: 2;
    margin-bottom: 10px;
}

.receipt-warning {
    color: darkgray;
}

.rental-list, 
.receipt-buttons-list {
    list-style-type: none;
    padding-left: 0;
}

.rental-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.rental-list li :last-child {
    border-bottom: none;
}

.recipt-text-item {
    margin-left: auto;
    text-align: right;
}

#fee {
    color: orange;
}

.receipt-buttons {
    display: flex;
    justify-content: center;
}

.receipt-buttons-list :first-child {
    margin-bottom: 5px;
    font-weight: bold;
}

.finals {
    align-items: center;
    width: 400px;
    height: 80px;
    border-radius: 10px;
    font-size: larger;
}

#final-retry {
    border: none;
    background-color: #FFB441;
    color: white
}

#final-confirm {
    border-width: 5px;
    border-style: solid;
    background-color: white;
    border-color: #FFB441;
    color: #FFB441;
}

