.scanContainer {
    display: flex;
    height: calc(100vh - 35px); /* Subtract the height of the navbar */
    flex-direction: column;
    position: relative;
    padding-right:40px;
    align-items: center;
    justify-content: center;
}

.navbar {
    padding: 0.5rem 1rem; /* Adjust the padding */
    height: 35px; /* Adjust the height */
    border-bottom: 4px solid black;
}

.navbar-brand, .navbar-nav .nav-link {
    padding: 0.5rem 1rem; /* Adjust the padding */
    font-size: 1rem;
}
.camera{
    display:flex;
    position: absolute;
    background: black;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 91%;
    left: 3%;
    top: 4%;
    border-radius: 20px;
    flex-shrink:0;
}

.webcam {
    display:flex;
    background: black;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid black;
    height: 100%;
    width: 100%;
}

.accuracy{
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    border: 5px solid black;
    width: 40%;
    height: 40%;
    color: red;
    font-size: 40pt;
    font-weight: bold;
    background-color: white;
    right: 3%;
    top: 4%;
}
.ball{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid black;
    font-size: 40pt;
    font-weight: bold;
    color: solid black;
    background-color: white;
    width: 40%;
    height: 29%;
    right: 3%;
    top: 45%;
}

.back{
    display: flex;
    background: rgb(121, 140, 216);
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 5px solid black;
    color: white;
    width: 40%;
    height: 20%;
    right: 3%;
    top:75%;
    transition: background-color 0.2s ease;
    font-weight: bold;
    font-size: 40pt;
}
.back:hover {
    background-color: rgb(47, 68, 231); /* Change background color on hover */
    color: white; /* Change text color on hover */
}

.main-overall-box {
    border: 5px solid black;
    background-color: white;
    padding: 5%;
    padding-block-start: 5%;
    box-shadow: 50px 40px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    z-index: 1;
}

.receipt-header {
    text-align: left;
}

.receipt-content {
    text-align: left;
    padding: 6%;
    
    z-index: 2;
}

.receipt-warning {
    color: darkgray;
}

.rental-list {
    list-style-type: none;
    padding-left: 0;
}

.receipt-button {
    display: flex;
}



