<!DOCTYPE html>
<html lang = "en">
    <head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
            <a class="navbar-brand" style="font-size:15pt; font-weight:bold; text-shadow: 2px 2px 4px grey; padding-bottom: 0.75%">Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                    <a class="nav-item nav-link active" href="/dashboard">
                        <img src="{{ url_for('static', filename='icons/home.png') }}" width="20" height="20" class="d-inline-block align-top" alt="">
                        Home <span class="sr-only">(current)</span>
                    </a>
                    <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link ml-auto" href="/logout">
                        <img src="{{ url_for('static', filename='icons/logout.png') }}" width="20" height="20" class="d-inline-block align-top" alt="">
                        Logout
                    </a>
                    
                    </div>
            </div>
        </nav>
        <title> Ball Library </title>
        <link rel = "stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
        <script>
        function redirectTo(page) {
          window.location.href = page;
        }
      </script>
    </head>
    <body>
        <div class="background"></div>
            <div class= "title-container">
                <div class ="title-background">
                    <h1 class = "custom-title">What do you want to do?</h1>
                </div>
            </div>
        <div class = "flexbox-container">
            <button class="box" id="rentButton">Rent</button>
            <button class="box" id="returnButton">Return</button>

        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script>
            $(document).ready(function() {
                $('#rentButton').click(function() {
                    $.ajax({
                        type: 'GET',
                        url: '/rent',
                        success: function(response) {
                            if (response.redirect) {
                                window.location.href = response.redirect;
                            } else if (response.alert) {
                                alert(response.alert);
                            }
                        }
                    });
                });
    
                $('#returnButton').click(function() {
                    $.ajax({
                        type: 'GET',
                        url: '/returnning',
                        success: function(response) {
                            if (response.redirect) {
                                window.location.href = response.redirect;
                            } else if (response.alert) {
                                alert(response.alert);
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>
