<!DOCTYPE html>
<html lang = "en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <meta charset = "UTF-8">
        <title> Ball Library </title>
        <link rel = "stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    </head>
    <script>
        function redirectTo(page) {
          window.location.href = page;
        }
      </script>
    <body>
        <div class="background"></div>
            <div class= "title-container">
                <div class ="title-background">
                    <h1 class = "custom-title">What do you want to do?</h1>
                </div>
            </div>
        <div class = "flexbox-container">
            <button class="box" onclick="redirectTo('{{ url_for('rent')}}')">Rent</button>
            <button class="box" onclick="redirectTo('{{ url_for('returnning')}}')">Return</button>
        </div>
    </body>
</html>
