<!DOCTYPE html>
<html lang = "en">
    <head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/rent_return.css') }}" />
            <a class="navbar-brand" href="#">Library(Ball)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                    <a class="nav-item nav-link active" href="/dashboard">
                        <img src="{{ url_for('static', filename='icons/home.png') }}" width="20" height="20" class="d-inline-block align-top" alt="">
                        Home <span class="sr-only">(current)</span>
                    </a>
                    <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link ml-auto" href="/logout">
                        <img src="{{ url_for('static', filename='icons/logout.png') }}" width="20" height="20" class="d-inline-block align-top" alt="">
                        Logout
                    </a>
                    
                    </div>
            </div>
          </nav>
        <meta charset = "UTF-8">
        <title> Ball Library </title>
        <link rel = "stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    </head>
    <script>
        function redirectTo(page) {
          window.location.href = page;
        }
      </script>
    <body>
     
      <div class="scan-container">
        {% block content %}
        <div class="camera">Camera</div>
        <div class="ball">Ball-Type</div>
        <div class="accuracy">Accuracy</div>
        <button class="retry" onclick="redirectTo('{{url_for('rent')}}')">Retry</div>
        <button class="confirm" onclick="redirectTo('{{url_for('finalRent')}}')">Confirm</div>
        {% endblock %}
      </div>  
      
    </body>
</html>
