{% extends "rent.html" %}

{%block content%}
<script src="{{url_for('static', filename = 'js/scan.js') }}"></script>
      
          <div class="scanContainer">
            <div class="camera">
              <video class="webcam"></video>
            </div>
            <div id="detect-status-container">
              <div class="detect-status" id="ball-status">⚪ Detecting item</div>
              <div class="detect-status" id="logo-status">⚪ Detecting logo</div>
            </div>
            <div class="accuracy" id="accuracy">Accuracy</div>
            <div class="ball" id="ball-type">Ball-Type</div>
            <button class="back" onclick="goBack()">Back</button>
          </div>
{%endblock%}
