<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Permissions-Policy" content="camera=*">
    </nav><link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
    <title>Scanning</title>
  </head>
  <body>
    <h1>Scanning</h1>
    <div class="display-cover">
      <video class="webcam" width="45%"></video>
    </div>
    <div>
      <button class="return_button" type="button">Return</button>
    </div>
    <script src="{{url_for('static', filename = 'js/scan.js') }}"></script>
  </body>
</html>
